$color_01: rgb(255, 204, 1);
$color_02: rgb(128, 0, 0);

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1, h2, h3 {
    color: $color_02;
}

header {
    padding: 1%;
    background-color: $color_01;
    
    #logo {
        height: 10vh;
    }
}

nav {
    background-color: $color_02;
}

main {
    padding: 5% 10% 5% 10%;
    background-color: $color_01;
}

footer {
    background-color: rgb(128, 0, 0);
}

@mixin songpanel() {
    width: 100%;
    min-height: 200px;
    border: 2px solid #0C3F65;
    border-radius: 15px;
    background-color: lightgray;
}

@mixin songitem($color) {
    border: 1.5px solid black;
    border-radius: 15px;
    margin: 25px;
    padding: 15px;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    background-color: $color;
}

#activeSongs {
    @include songpanel();

    li { @include songitem(rgb(100, 237, 107)) }
}

#passivSongs {
    @include songpanel();
    list-style-type: none;

    li { @include songitem(rgb(250, 133, 133)) }
}
