{% load static %}

<!DOCTYPE html>
<html lang="de">
    <head>
        <!-- Meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static 'roggn_app/img/icon_roggn.png' %}">

        <title>roGGn</title>

        <!-- Style sheets -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{% static 'roggn_app/css/style.css' %}">

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{% static 'roggn_app/js/script.js' %}"></script>
    </head>

    <body>

        <!-- Header -->
        <header>
            <a class="navbar-brand" href="/">
                <img id="logo" src="{% static 'roggn_app/img/icon_roggn.png' %}">
            </a>
        </header>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark primary-color">
            <div class="collapse navbar-collapse" id="basicExampleNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="home" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="songs" href="/songs">Songs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="gigs" href="/gigs">Gigs</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main -->
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <!-- Footer -->
        <footer class="page-footer font-small blue">
            <div class="footer-copyright text-center py-3">© 2020 Copyright: 
                <a href="/">roGGn</a>
            </div>
        </footer>

    </body>
</html>
